.todoContainer {

    width: 300px;
    margin: 180px auto;

}

.todoForm{

    display: flex;
    gap:5px;


}

.createbox{


    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:solid 1px #0f3a02;



}

.buttonCreate{


    border: none;
    border-radius: 10px;
    background-color: rgb(26,76,169);
    color:white;
    padding: 10px 20px;


}

.todoContainer{


    display:flex;
    flex-direction: column;
    gap:5px;
    margin-top: 10px;


}


.todo{


    padding: 10px;
    background-color: white;



}


.todoTitle{


    flex: 1;
    font-size: 20px;




}


.todoUpdateForm,
.todoInfo{


    display: flex;
    align-items:  center;
    gap: 10px;


}

.todoInput{


    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:solid 1px #0f3a02;



}

.buttonEdit{


    border: none;
    border-radius: 3px;
    background-color: rgb(38, 78, 143); 
    color:beige;
    padding: 10px 20px;



}

.buttonDelete{


    
        border: none;
        border-radius: 10px;
        background-color: rgb(169, 26, 26); 
        color:beige;
        padding: 10px 20px;
    
    

}


.button{

    border: none;
    border-radius: 10px;
    background-color: rgb(38, 78, 143); 
    color:beige;
    padding: 10px 20px;



}